@viewport {
    width: device-width;
    zoom: 1.0;
}

/* 
 * TOC styling, menu button etc...
 **/

#TOC {
    background-color: rgba(237, 237, 237, 0.98);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 0;
    overflow-x: hidden;
    height: 100%;
    overflow-y: scroll;
    z-index: 1;
    transition: 0.05s;
}

#TOC li {
    padding-left: 10px;
    font-size: 14px;
    line-height: 1.45em;
}

#TOC ul {
    padding: 10px;
    padding-left: 25px;
    list-style-type: none;
}

#TOC a {
    color: black;
    text-decoration: none;
}

#TOC a:hover {
    text-decoration: underline;
}

#TOC a:visited {
    color: black;
}

#TOC a:hover {
    color: gray;
}

#TOC>ul>li>a {
    font-weight: bold;
}

#TOC>ul>li>li>a {
    font-weight: normal;
}

#TOC>ul:nth-child(1) {
    padding-top: 25px;
}

#menuButton {
    background-color: #eee;
    min-width: 120px;
    border-bottom-right-radius: 10px;
    z-index: 3;
    position: fixed;
    font-size: 32px;
    cursor: pointer;
    top: 0px;
    left: 0px;
    font-family: helvetica, arial, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase
}

#TOC.showMenu {
    width: 100%;
}

#menuSymbol {
    text-align: center;
    display: inline-block;
    width: 22px;
    margin-left: 5px;
}

#menuName {
    font-weight: bold;
    font-size: 50%;
}

.navIsOpen {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: none;
    overflow-y: hidden;
}

/* end menu stuff, guide styling: */

#body-text {
    max-width: 100%;
}

.red {
    color:#bb0000;
}

.blue {
    color:#0000ff;
}

body {
    font-family: helvetica, arial, sans-serif;
    margin: auto;
    width: 60%;
    min-width: 280px;
    max-width: 900px;
    position: relative;
    left: 0px;
    font-size: 14px;
}

body p,
li {
    text-align: left;
    line-height: 1.7;
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5 {
    padding-top: 34px;
    font-family: helvetica, arial, sans-serif;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase
}

figcaption {
    color: #888;
    font-style: italic;
}

.headerAnchor {
    margin-left: -26px;
    padding-right: 10px;
}

@media print {

    h1,
    h2,
    h3,
    h4,
    h5 {
        break-after: avoid;
    }
}

h1 {
    font-size: 24px;
    text-decoration-color: black;
}

h2 {
    margin-top: 20px;
    font-size: 18px;
    text-decoration: underline;
    text-decoration-color: gray;
}

h3 {
    font-size: 12px;
}

h4 {
    font-size: 11px;
}

h5 {
    font-size: 11px;
}

img {
    min-width: 280px;
    width: 70%;
    padding: 10px;
    border: 2px solid #888;
}

img.portrait-image {
    max-height: 500px;
    width: auto;
    object-fit: contain;
}


.overview-map {
    border: 1px solid #555;
    width: 1000px;
}

.icon {
    min-width: unset;
    width: 15px;
    height: 15px;
    border: none;
    padding: 0;
}

.caption {
    text-align: left;

    color: #666666;
    font-size: 12px;
}

table {
    padding: 0;
    border-collapse: collapse;
}

table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0;
}

table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}

table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}

table tr th :first-child,
table tr td :first-child {
    margin-top: 0;
}

table tr th :last-child,
table tr td :last-child {
    margin-bottom: 0;
}

.small_image img {
    min-width: unset;
    width: 150px;
    height: 150px;
}

.half-image {
    width: 150px;
    min-width: unset;
}

.tiny_icon {
    top: 15px;
    position: relative;
    min-width: 0px;
    border: none;
    width: 16px;
    height: 16px;
    display: inline;
}

.overview-map {
    position: relative;
    left: -25%;
}

@media screen and (max-width: 600px) {
    body {
        width: 90%;
        left: unset;
    }


    img {
        min-width: 80px;
        width: 90%;
        padding: 5px;
        border: 2px solid #888;
    }


    #overview-block {
        visibility: hidden;
        display: none;
    }

    #body-text {
        max-width: 100%;
        overflow-x: hidden;
    }
}

.bg-red {
    background-color: #ffdddd;
}

.bg-blue {
    background-color: #ddddff;
}

.extra-space {
    margin-bottom: 2em;
}
