#TOC {
  margin-top:20px;
}

body {
	font-family: helvetica, arial, sans-serif;
	margin:auto;
	width:60%;
	min-width:280px;
		font-size: 14px;
}

body hr {
	margin-top:100px;
}

body p,li {
	text-align: justify ;
	line-height: 1.7;
	font-size: 14px;
}

h1,h2,h3,h4,h5 {
  padding-top:20px;
	font-family: helvetica, arial, sans-serif;
}

@media print {
   h1,h2,h3,h4,h5 {
      break-after: avoid;
  }
}

h1 {
    font-size:40px;
}

h2 {
	margin-top:30px;
	font-size:36px;
}

h3 {
	/*margin-top:50px;*/
	font-size:18px;
	background-color:#fdfdfd;
}

h4 {
    font-size:17px;
}

h5 {
    font-size:16px;
}

img {
    min-width:280px;
    width:70%;
    /* width:60%, */
    padding:10px;
    border:2px solid #888;
}

.icon {
    min-width:unset;
    width:15px;
    height:15px;
    border:none;
}

.caption {
	text-align: left;

	color: #666666;
	font-size:12px;
}

table {
  padding: 0;
  border-collapse: collapse; }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
margin-bottom: 0; }

.small_image img {
  min-width:unset;
  width:150px;
  height:150px;
}
