body {
	font-family: helvetica, arial, sans-serif;
	margin:auto;
	width:60%;
}

body hr {
	margin-top:100px;
}

body p {
	line-height: 1.8;
	font-size: 16px;
}

h1,h2,h3,h4,h5 {
	font-family: helvetica, arial, sans-serif;
}

h1 {
    font-size:48px;
}

h2 {
	margin-top:100px;
	color:rgb(150,0,0);
	font-size:36px;
}

h3 {
	font-weight: bold;
	margin-top:50px;
	color:rgb(0,80,0);
	font-size:18px;
	background-color:#fdfdfd;
}

h4 {
font-size:22px;
}

h5 {
font-size:18px;
}

img {
    width:475px;
    border:1px solid #000000;
}
